@import url(./__like-group/element__like-group.css);
@import url(./__like/element__like.css);
@import url(./__like-counter/element__like-counter.css);
@import url(./__photo/element__photo.css);
@import url(./__title/element__title.css);
@import url(./__like/_active/element__like_active.css);
@import url(./__trash/element__trash.css);
@import url(./__trash/_visible/element__trash_visible.css);
@import url(./__trash/_hidden/element__trash_hidden.css);
@import url(./__bord/element__bord.css);

.element {
display: grid;
grid-template-columns: 240px 42px;
grid-template-rows: 282px 79px;
justify-content: center;
align-items: center;
background-color: #ffffff;
border-radius: 10px;
}
