.profile__avatar {
  grid-area: avatar;
  object-fit: cover;
  object-position: left top;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 13px;
  overflow: hidden;
  z-index: 100;
}

/*точки перелома*/
@media screen and (max-width: 769px)  {
  .profile__avatar {
    margin: 0 0 12px;
    justify-self: center;
  }
}
.profile__avatar:hover {
  opacity: .2;
  z-index: 10;
  transition: all 1s linear;
  cursor: pointer;
}
