.popup__button_sing_in {
  text-decoration: none;
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.21;
}

.popup__button_sing_in:hover {
  opacity: .8;
  transition: opacity 1s linear;
  cursor: pointer;

}

@media screen and (max-width: 639px)  {
  .popup__button {
    font-size: 10px;
    min-width: 178px;
  }
}
