@import url(./__grid/popup__grid.css);
@import url(./__fieldset/popup__fieldset.css);
@import url(./__title/popup__title.css);
@import url(./__close/popup__close.css);
@import url(./__form/popup__form.css);
@import url(./__form/_view/popup__form_view.css);
@import url(./__input/popup__input.css);
@import url(./__input/_type_description/popup__input_type_description.css);
@import url(./__button/popup__button.css);
@import url(./__image-conteiner/popup__image-conteiner.css);
@import url(./__image/popup__image.css);
@import url(./__caption/popup__caption.css);
@import url(./__error/popup__error.css);
@import url(./__error/_visible/popup__error_visible.css);
@import url(./__input/_type_error/popup__input_type_error.css);
@import url(./__button/_disabled/popup__button_disabled.css);


.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100vh;
  font-family: 'Inter', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-style: normal;
  visibility: hidden;
  opacity: 0;
  transition:opacity 1s linear;
  z-index: 1;
  display:flex;
  align-items:center;
  justify-content:center;

}


